#input {
    width: 50%;
    min-height: 40px;
    left:calc(50% - 25%);
    position: relative; 
    margin: 30px 0;
    font-size: 22px;
}
#movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#movies a {
    margin: 15px auto;
}

span {
    text-align: center;
    display: block;
    position: relative;
    font-size: 23px;
}